<!-- <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu> -->


<div class="card">
    <p-tabView styleClass="tabview-custom">

        <p-tabPanel>
            <ng-template pTemplate = "header">
                <i class="pi pi-fw pi-list" ></i>
                <span routerLink="/">Overview</span>
            </ng-template>

        </p-tabPanel>
        <p-tabPanel header="Header II" >
            <ng-template pTemplate = "header" >
                <i class="pi pi-fw pi-plus" ></i>
                <span routerLink="/create">New Element</span>
            </ng-template>
        </p-tabPanel>

        <!-- <p-tabPanel header="Header III">
            <ng-template pTemplate = "header">
                <i class="pi pi-fw pi-info-circle"></i>
                <span routerLink="/details">Details</span>
            </ng-template>
        </p-tabPanel>-->
    </p-tabView>
</div>


