<!-- <div class="p-field p-col-12 p-md-4">

    <label for="basic">Birthdate</label>
    <p-calendar inputId="basic" [(ngModel)]="date1"></p-calendar>

    <h5>Rig the Reviews</h5>
    <p-rating [(ngModel)]="val1"></p-rating>

    <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Name</label>
    </span>
    <h5>AGB</h5>
    <p-inputSwitch [(ngModel)]="checked1"></p-inputSwitch>

    <h5>Autocomplete for stockvalues</h5>
    <p-autoComplete [(ngModel)]="selectedValue" [suggestions]="filteredValue" (completeMethod)="filterValue($event)" field="name" [minLength]="1"></p-autoComplete>
</div>
-->
<form (ngSubmit)="onSubmit()" #productForm="ngForm" class="row g-3">

    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-inputNumber name="id" id="productId" [(ngModel)]="product.id"></p-inputNumber>
            <label for="productId">ProductId</label>
        </span>
    </div>
    <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input name="name"  type="text" id="productName" pInputText [(ngModel)]="product.name">
            <label for="productName">ProductName</label>
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-inputNumber name="productPrice" id="productPrice" [(ngModel)]="product.price"></p-inputNumber>
            <label for="productPrice">ProductPrice</label>
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-autoComplete name="autocomplete" id="autocomplete" [(ngModel)]="product.inventoryStatus" [suggestions]="filteredValue"
                            (completeMethod)="filterValue($event)" field="name" [minLength]="1"></p-autoComplete>
            <label for="autocomplete">AutoComplete for StockValues</label>
        </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-calendar id="productDate" name="productDate"  [(ngModel)]="product.date"></p-calendar>
            <label for="productDate">ProductDate</label>
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-rating name="productRating"  inputId="productRating" [(ngModel)]="product.rating" [cancel]="false"></p-rating>
        </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
                <p-dropdown name="categories"  id="dropdown" [autoDisplayFirst]="false" [options]="categories" [(ngModel)]="product.category"
                            optionLabel="name"></p-dropdown>
                <label for="dropdown">Dropdown for Categories</label>
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
